* {
  box-sizing: border-box;
}
html, body {
  height: 100%;
}

body {
  margin: 0;
  padding: 4em 1em 1em;
  font-family: sans-serif;
  background: url('./assets/trianglify.svg') no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
}

body:after {
  content:'📽️';
  display: block;
  position: absolute;
  top: -20px;
  text-align: center;
  z-index: -1;
  width: 100%;
  font-size: 16em;
  filter: opacity(.5)
}

body.overlay {
  overflow: hidden;
}

body.overlay:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left:0;
  right: 0;
  z-index: 1;
  background-color: rgba(42,42,42,.8);
}

.overlay .movie-search,
.overlay .app-header {
  filter: blur(3px);
}